*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("https://i.ibb.co/WGry01m/cd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#weather{
   width: 90%; 
   margin: 50px  auto;
   border-radius: 10px;
   border: 1px solid black;
   display: flex;
}
 #section1 img{
   height: 200px;
   width: 200px;
   margin: 20px 50px;
} 
#section1{
    width: 30%;
    background-color: rgb(225,225,225,0.85);
    position: relative;
}
#section2{

    padding: 20px 40px;
    background-color:whitesmoke;
    /* border-radius: 10px; */  
}
#search{
   display: flex;
   padding: 20px;
   margin: 20px 20px;
}
input{
    padding: 10px;
    font-size: large;
    
}
button{
    padding: 5px 15px;
    background-color: deepskyblue;
    color: white;
    border-style: none;
    font-weight: bold;
}
div section p{
    padding-left: 5px;
}
.temparature{
    display:flex;
    padding-left: 30px;
}.temparature #temp{
    font-size:70px ;
    font-weight: 100;
    line-height: 1;

}.temparature span{
    font-size: 40px;
    margin-top: -10px;
    display: block;
}.data_time{
    padding-left:30px ;
}
.divider{
   width: 100%;
   height: 1px;
   margin: 20px 0px;
   background-color: #eee;
}.condition_rain{
    font-size: 17px;
    text-transform: capitalize;
    padding-left: 30px;
}.condition_rain div{
    display:flex;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;

}.condition_rain div li{
    width:20px;
 }
.location{
     display: flex;
    align-items: center;
    font-size: 20px;
    gap:10px;
    padding-left: 30px;
    position: absolute;
    bottom: 30px;
    
    
} 

#navbar{
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
    font-size: x-large;
    cursor: pointer;
}
ul li a{
    color:black;
    text-decoration: none;
}
ul li a:hover{
    color:deepskyblue
}
#days ul{
    display: flex;
    gap: 20px; 
}
#days ul li:hover{
    color:deepskyblue;
}
#temperature-unit ul{
    display: flex;
    gap: 30px;
}
#temperature-unit ul li{
    height: 40px;
    width: 40px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
}
.week{
     
    width: 150px;
    
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: small;
}
.week img{
    margin-top: 10px;
    height: 70px;
    width: 70px;
}
.temp{
    margin-top: 10px;
     display: flex; 
    justify-content: center;
}
.temp p{
    
    font-weight: bold;
    font-size: x-large;
}
.temp span{
    display: block;
    font-size: large;
}

.today{
    
    width: 150px;
    
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: small;
}
.today img{
    margin-top: 10px;
    height: 70px;
    width: 70px;
}
.today-report{
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.weeks-report{
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.highlight{
    width: 350px;
    /* height: 130px; */
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.highlight p{
    color: rgb(179, 174, 174);
    font-weight: bold;
}
.highlight h1{
    margin-top: 20px;
    text-align: center;
    font-size: xx-large;
}
.highlight span{
    display: block;
    margin-top: 30px;
    text-align: left;
}
.highlights{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px 0px;
    justify-content: space-around;
}
.footer{
    text-align: center;
}
.active{
 
   color:white;
   background-color: black;
}

@media screen and  (min-device-width: 425px) and (max-device-width:767px) {

    #section1 img{
        height: 100px;
        width: 100px;
        margin: 15px 20px;
     } 
    #search{
   padding: 10px;
   margin: 5px;
}
input{
    padding: 5px ;
    font-size:small;
    width: 100%;
}
button{
    padding: 5px 5px;
    background-color: deepskyblue;
    color: white;
    border-style: none;
    font-weight: bold;
}
.highlight{
    width: 150px;
    
}
.week{
    width: 110px;
}
.today{
    
    width: 110px;
    
    
}
.data_time{
    padding-left:10px ;
}
#days ul{
   margin-left:0px;
    gap: 10px; 
}

#temperature-unit ul{
    margin-right: 10px;
    gap: 10px;
}
#temperature-unit ul li{
    height: 30px;
    width: 30px;
    
}
#section2{

    padding: 20px 20px;
    
}
.today img{
    margin-top: 5px;
   
}
.today-report{
    
    gap: 20px;
}
.weeks-report{
    
    gap: 20px;
}
.location{
   
   font-size: 15px;
  
   padding-left: 10px;
   
   
} 
.condition_rain{
    font-size: 15px;
    
    padding-left: 10px;
}
.temparature{
    
    padding-left: 10px;
}.temparature #temp{
    font-size:40px ;
    

}
.temparature span{
    font-size: 20px;
   
}
#today_hilight{
    font-size: large;
}
.data_time{
    padding-left:10px ;
    font-size: small;
}
    
  }
  
  @media  screen and (min-device-width: 768px) and (max-device-width:1440px) {

    #section1 img{
        height: 150px;
        width: 150px;
        margin: 20px 25px;
     } 
    #search{
   padding: 10px;
   margin: 15px 15px;
}
input{
    padding: 10px;
    font-size:small;
    width: 100%;
    
}
.highlight{
    width: 200px;
    
}
.week{
    width: 130px;
}
.today{
    
    width: 130px;
}
    
  }
  
